body {
  font-family: "Poppins", sans-serif;
}
.header-title a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: black;
}
.header-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  margin: auto;
}
.menu-bar a, i {
  margin-right: 34px;
}
.fa-cart-flatbed {
  font-size: 36px;
  width: 36px;
  height: 36px;
}
