body {
  font-family: "Poppins", sans-serif;
}
.header-title a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: black;
}
.header-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 120px;
  margin: auto;
}
.menu-bar a,
i {
  margin-right: 34px;
}

.fa-magnifying-glass {
  font-size: 25px;
}
.fa-cart-flatbed {
  font-size: 25px;
}
/* -----Header-section----- */
.header-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  padding: 60px 120px;
}
h1 {
  font-weight: 700;
  font-size: 52px;
  color: #3a3a3a;
}
.header-section p {
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
}
.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 196px;
  height: 44px;
  left: 120px;
  top: 511px;
  background: #e02c6d;
  color: #ffffff;
  border: 0px;
  border-radius: 41px;
  font-weight: 700;
  font-size: 16px;
  padding-left: 1.5em;
  margin-top: 20px;
}

.header-pic img {
  width: 440px;
  height: 414px;
}
/* ---------------
      Brand Logo
   -------------- */

.brand-logo {
  display: flex;
  height: 110px;
  padding-left: 165px;
  padding-right: 165px;
  top: 725px;
  align-items: center;
  justify-content: space-evenly;
}

/* -------------------------------------
      Popular Collection
   ------------------------------------- */
